.venv/
.venv-windows/
__pycache__/
.pytest_cache/
.ruff_cache/
.git/
.gitignore
.env
.env.secret
.coverage
*.pyc
*.pyo
*.pyd

tests/
certs/

*.csv
*.dump

# Uploaded/local scan files
uploads/

Dockerfile
.dockerignore